body {
    margin: 0;
    text-align: center;
    background-color: #F8EFE4;
    font-family: 'Rubik', sans-serif;
    color: #282120;
}

span {
    text-decoration: underline;
}

.top-container {
    background-image: url("images/pozadie.jpg");
    padding: 305px;
}

.middle-container {
    margin-top: 100px;
}

.bottom-container {
    background-color: lightblue;
    margin-top: 50px;
    padding: 60px 0 30px;
}

.contactP {
    margin-bottom: 75px;
    width: 40%;
    margin: 40px auto;
}

.contact-me {
    margin: 100px;
}

.footerP {
    padding-top: 35px;
    font-size: 0.85rem;
}

.bigH1 {
    margin: 0;
    padding-top: 90px;
    position: relative;
    bottom: 200px;
    font-size: 4.5rem;
    font-family: 'Courier Prime', monospace;
    color: #282120;
    line-height: 2;
}

.intro {
    width: 30%;
    margin: auto;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 2rem;
    color: #282120;
    font-weight: normal;
}

hr {
    border: dotted #282120 10px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

p {
    line-height: 2;
    margin: auto;
}

a {
    color: #E6C2BF;
    font-family: 'Rubik', sans-serif;
    margin: 20px;
    text-decoration: none;
}

a:hover {
    color: lightcoral;
}

.btn {
    background: #E6C2BF;
    background-image: -webkit-linear-gradient(top, #E6C2BF, lightcoral);
    background-image: -moz-linear-gradient(top, #E6C2BF, lightcoral);
    background-image: -ms-linear-gradient(top, #E6C2BF, lightcoral);
    background-image: -o-linear-gradient(top, #E6C2BF, lightcoral);
    background-image: linear-gradient(to bottom, #E6C2BF, lightcoral);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #F8EFE4;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #E6C2BF;
    background-image: -webkit-linear-gradient(top, #F8EFE4, #E6C2BF);
    background-image: -moz-linear-gradient(top, #F8EFE4, #E6C2BF);
    background-image: -ms-linear-gradient(top, #F8EFE4, #E6C2BF);
    background-image: -o-linear-gradient(top, #F8EFE4, #E6C2BF);
    background-image: linear-gradient(to bottom, #F8EFE4, #E6C2BF);
    text-decoration: none;
}

.skill-row {
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.art {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.eng {
    width: 25%;
    float: right;
    margin-left: 30px;
}
